header {
    text-align: center;
    font-family: fantasy, sans-serif;
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.mainImage {
    width: 400px;
    height: 400px;
}

#recipeSelector {
    display: flex;
    justify-content: space-between;
}

#recipeSelector div {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

#recipeSelector a {
    text-decoration: none;
    color: #56ab2f;
}

#recipeSelector a:hover {
    color: darkgreen;
}
